<p>All workshops are from 9 am - 12:30 pm PT</p>
<div class="row">
  <div class="col-md-6">
   <table class="table table-striped">
     <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Lesson</th>
       <th scope="col">Instructor Notes</th>
      </tr>
     </thead>
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>April 16</td>  <td><a href="http://swcarpentry.github.io/shell-novice">Introduction to the Bash Shell Command Line</a></td> <td></td> </tr>
      <tr> <td>April 23</td>  <td><a href="http://swcarpentry.github.io/git-novice">Introduction to Git/Github</a></td> <td><a href="">TBD</a></td></tr>
      <tr> <td>April 30</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python</a></td> <td><a href="">TBD</a></td></tr>
      <tr> <td>May 7</td>  <td><a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python 2</a></td> <td><a href="">TBD</a></td></tr>
     <tr> <td>After</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>

    </table>
  </div>
